/* Selamat Datang */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 550px;
height: 618px;
right: 764px;
top: 300px;

background: #F8BC24;
border-radius: 55px;


/* Rectangle 2 */


position: absolute;
width: 550px;
height: 618px;
left: 763px;
top: 300px;

background: #FDD675;
border-radius: 55px;


/* icons8-name-tag-64 2 */


position: absolute;
width: 297px;
height: 256px;
left: 889px;
top: 396px;

background: url(icons8-name-tag-64.png);


/* pegawai */


position: absolute;
width: 393px;
height: 167px;
left: 210px;
top: 693px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* pengunjung */


position: absolute;
width: 393px;
height: 167px;
left: 841px;
top: 693px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* icons8-gender-neutral-employee-group-100 1 */


position: absolute;
width: 350px;
height: 291px;
left: 230px;
top: 390px;

background: url(icons8-gender-neutral-employee-group-100.png);

/* Selamat Datang */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 550px;
height: 618px;
right: 764px;
top: 300px;

background: #F8BC24;
border-radius: 55px;


/* Rectangle 2 */


position: absolute;
width: 550px;
height: 618px;
left: 763px;
top: 300px;

background: #FDD675;
border-radius: 55px;


/* icons8-name-tag-64 2 */


position: absolute;
width: 297px;
height: 256px;
left: 889px;
top: 396px;

background: url(icons8-name-tag-64.png);


/* pegawai */


position: absolute;
width: 393px;
height: 167px;
left: 210px;
top: 693px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* pengunjung */


position: absolute;
width: 393px;
height: 167px;
left: 841px;
top: 693px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* icons8-gender-neutral-employee-group-100 1 */


position: absolute;
width: 350px;
height: 291px;
left: 230px;
top: 390px;

background: url(icons8-gender-neutral-employee-group-100.png);

/* Selamat Datang */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 408px;
height: 576px;
right: 919px;
top: 323px;

background: #F8BC24;
border-radius: 55px;


/* pegawai */


position: absolute;
width: 292px;
height: 156px;
left: 175px;
top: 689px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* icons8-gender-neutral-employee-group-100 1 */


position: absolute;
width: 260px;
height: 271px;
left: 190px;
top: 407px;

background: url(icons8-gender-neutral-employee-group-100.png);


/* Rectangle 3 */


position: absolute;
width: 685px;
height: 91px;
left: 612px;
top: 573px;

background: #C4C4C4;
border-radius: 25px;


/* ID Pegawai */


position: absolute;
width: 332px;
height: 79px;
left: 788px;
top: 483px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
text-align: center;

color: #FBF5E8;



/* Rectangle 5 */


position: absolute;
width: 271px;
height: 66px;
left: 819px;
top: 701px;

background: #A4D9D6;
border-radius: 10px;


/* Submit */


position: absolute;
width: 272px;
height: 66px;
left: 818px;
top: 701px;

font-family: Patua One;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* Terimakasih */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 408px;
height: 576px;
right: 919px;
top: 323px;

background: #F8BC24;
border-radius: 55px;


/* pegawai */


position: absolute;
width: 292px;
height: 156px;
left: 175px;
top: 689px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* icons8-gender-neutral-employee-group-100 1 */


position: absolute;
width: 260px;
height: 271px;
left: 190px;
top: 407px;

background: url(icons8-gender-neutral-employee-group-100.png);


/* Rectangle 3 */


position: absolute;
width: 685px;
height: 91px;
left: 612px;
top: 573px;

background: #C4C4C4;


/* ID Pegawai */


position: absolute;
width: 332px;
height: 79px;
left: 788px;
top: 483px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
text-align: center;

color: #FBF5E8;



/* Rectangle 5 */


position: absolute;
width: 271px;
height: 66px;
left: 819px;
top: 701px;

background: #A4D9D6;
border-radius: 10px;


/* Submit */


position: absolute;
width: 272px;
height: 66px;
left: 818px;
top: 701px;

font-family: Patua One;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

/* Terimakasih */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 408px;
height: 576px;
right: 919px;
top: 323px;

background: #FDD675;
border-radius: 55px;


/* icons8-name-tag-64 2 */


position: absolute;
width: 249px;
height: 231px;
left: 192px;
top: 426px;

background: url(icons8-name-tag-64.png);


/* pengunjung */


position: absolute;
width: 329px;
height: 150px;
left: 152px;
top: 686px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 75px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* Rectangle 4 */


position: absolute;
width: 685px;
height: 91px;
left: 615px;
top: 566px;

background: #C4C4C4;


/* Plat Nomor */


position: absolute;
width: 335px;
height: 79px;
left: 790px;
top: 476px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
text-align: center;

color: #FBF5E8;



/* Rectangle 5 */


position: absolute;
width: 271px;
height: 66px;
left: 822px;
top: 695px;

background: #A4D9D6;
border-radius: 10px;


/* Submit */


position: absolute;
width: 272px;
height: 66px;
left: 821px;
top: 695px;

font-family: Patua One;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
