#OUTPUT INFO PENGUNJUNG
/* Selamat Datang */


position: absolute;
width: 1250px;
height: 263px;
left: 96px;
top: 90px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 120px;
line-height: 149px;
text-align: center;

color: #FFFFFF;



/* Rectangle 1 */


position: absolute;
width: 1233px;
height: 581px;
right: 94px;
top: 353px;

background: #FDD675;
border-radius: 55px;


/* Senin, 29 Agustus 2020 08.39 */


position: absolute;
width: 506px;
height: 45px;
left: 467px;
top: 385px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 30px;
text-align: center;

color: #000000;



/* nama pengunjung */


position: absolute;
width: 608px;
height: 156px;
left: 417px;
top: 716px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 79px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #000000;



/* icons8-name-tag-64 2 */


position: absolute;
width: 249px;
height: 231px;
left: 605px;
top: 466px;

background: url(icons8-name-tag-64.png);

#OUTPUT PEMBAYARAN PENGUNJUNG
/* Group 46 */


position: absolute;
width: 811px;
height: 167px;
left: 365px;
top: 43px;



/* Rectangle 29 */


position: absolute;
width: 1156px;
height: 665px;
left: 142px;
top: 283px;

background: #FFEECA;
border-radius: 10px;


/* Group 58 */


position: absolute;
width: 306px;
height: 422px;
left: 203px;
top: 405px;



/* Rectangle 30 */


position: absolute;
width: 682px;
height: 446px;
left: 572px;
top: 382px;

background: #C4C4C4;


/* TEMPELKAN KARTU DISINI */


position: absolute;
width: 230px;
height: 150px;
left: 798px;
top: 537px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 50px;
text-align: center;

color: #000000;